{% extends 'shop/basics.html' %}

{% block title %} Quick View {% endblock %}
{% block body %}
{% load extra %}
<!--for custom filters-->
{% load humanize %}
<!--to show the remaining time in timestamp-->

<div class="container">
    <div class="container mt-5" style="min-width: 50vw;border: none; margin: auto;">
        <!-- Displays the product-->
        <div class="row g-0">
            <div class="column col-6" id="productview_image" style="margin:auto;">
                <img src="/media/{{product.image}}" class="img-fluid rounded-start" alt="..."
                    style="max-height: 350px;">
            </div>
            <div class="column col-4 mt-5">
                <div class="card-body">
                    <h1 class="card-title mb-3">{{product.product_name}}</h1>
                    <p class="card-text mb-3">{{product.desc}}</p>
                    <p class="card-text"><small class="text-muted">
                            <h3><strong>₹ {{product.price}}</strong></h3>
                        </small></p>
                </div>
            </div>
            <div class="column col-2">
                <div class="fb-like" data-href="http://127.0.0.1:8000/productView/{{product.productid}}"
                    data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true">
                </div>
            </div>
        </div>

        <!-- comment section-->

        <!--textarea to input the comment-->
        <div class="container ml-3" id="comment_form_box" style="margin-top: 5rem;">
            <form action="/productView/{{product.id}}" method="post" id="commentForm" class="form-floating">
                {% csrf_token %}
                <input type="hidden" name="productid" id="productid" value="{{product.id}}">

                <!--no need to render anything from views to use "is_authenticated"-->
                {% if user.is_authenticated %}
                <textarea class="form-control"  style="padding: 5px;" placeholder="Leave a comment here" name="comment" id="productComment"></textarea>
                <label class="mt-3" for="productComment"></label>
                <input type="hidden" name="parentId" value="">
                <button type="submit" id="commentSubmitButton" class="btn btn-primary mt-3">Submit</button>

                {% else %}
                <textarea class="form-control" placeholder="Login to comment" name="comment" id="productComment" disabled></textarea>
                <label class="mt-3" for="productComment"></label>
                <button type="submit" id="commentSubmitButton" class="btn btn-primary mt-3" disabled>Submit</button>
                {% endif %}

            </form>
        </div>


        <!--displays the comments-->
        <div class="container ml-3 mt-2">
            {% if comments %}
            <div class="ml-3 mt-5" style="font-size: large;"><strong>Comments</strong></div>
            {% for comment in comments reversed %}
            <div class="container mt-5">
                <span class="badge bg-warning" style="font-size: .9rem;">{{comment.user}}</span> <span>at
                    {{comment.timestamp|naturaltime}}</span><br>
                <div class="mt-2">{{comment.comment}}</div>
            </div>

            <!--Enter replay-->
            <span class="ml-3 classCollapse" id="reply{{comment.comment_id}}" data-toggle="collapse"
                data-target="#replyBox{{comment.comment_id}}" aria-expanded="false"
                aria-controls="replyBox{{comment.comment_id}}"
                style="text-decoration: underline;font-size: small;cursor:pointer;font-style: oblique;">
                Reply
            </span>
            <span class="ml-3 classCollapse" data-toggle="collapse" id="viewR{{comment.comment_id}}"
                data-target="#replyDisplay{{comment.comment_id}}" aria-expanded="false"
                aria-controls="replyDisplay{{comment.comment_id}}"
                style="text-decoration: underline;font-size: small;cursor:pointer;font-style: oblique;">
                View replies
            </span>

            <!--To take the reply-->
            <div class="collapse" id="replyBox{{comment.comment_id}}">
                <div class="card card-body my-2">
                    <form action="/productView/{{product.id}}" method="post">
                        {% if user.is_authenticated %}
                        <fieldset>
                            {% else %}
                            <fieldset disabled>
                                {% endif %}
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Post a reply</label>
                                    <input type="text" class="form-control" name="comment"
                                        placeholder="Enter comment here">
                                    <input type="hidden" name="parentId" value="{{comment.comment_id}}">
                                    <input type="hidden" name="productid" value="{{product.id}}">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                    </form>
                </div>
            </div>


            <!--To display the reply-->
            <div class="collapse" id="replyDisplay{{comment.comment_id}}">
                <div class="card card-body ml-3" style="border: none;">
                    {% for reply in repliesDict|get_val:comment.comment_id %}
                    <!--creating a filter-->
                    <div class="container mt-1">
                        <span class="badge bg-info" style="color: white;">{{reply.user}}</span> <span>at
                            {{reply.timestamp|naturaltime}}</span><br>
                        <div class="mt-2">{{reply.comment}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block css1 %}

<style>
    #productview_image {
        max-width: 25vw;
    }

    #comment_form_box {
        width: 40vw;
    }

    @media (max-width:800px) {

        .column {
            width: 100%;
        }

        #productview_image {
            max-width: 70vw;
        }

        #commentForm {
            width: 75vw;
        }
    }
</style>

{% endblock %}

{% block js %}

<script>


</script>

{% endblock %}